<ion-header>
  <ion-toolbar color="ligth">
    <ion-button color="warning" routerLink="/inicio">Volver
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@500&display=swap" rel="stylesheet">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tu app de asistencia</ion-card-subtitle>
      <ion-card-title>Informacion de RegistrAPP</ion-card-title>
    </ion-card-header>


    <ion-card-content>
      <p class="parrafo">
      Es una Aplicación Móvil RegistrAPP capaz de ser utilizada en plataformas tanto como Android e iOS que permita que cada alumno registre su propia asistencia.
      </p>
      <img src="assets/duoc.jpg" class="ion-padding">
    </ion-card-content>
  </ion-card>

  

</ion-content>
