.tittle{
    margin-bottom: 30px;
}
.tittle h4{
    color:rgb(255, 225, 0);
}

.tittle p {
    margin-top: 0 !important;
    color: rgb(255, 225, 0) ;
    font-size: small;
}

.forget a {
    font-size: small !important;
}
.p{
    color: #999999;
}


.primary-input {
    background:rgba(255, 119, 0, 0.801);
    --padding-start: 10px !important;
    color: black;
    border-radius:5px;
    margin-bottom:10px;  
}
