.tittle{
    width: 100%;
    text-align: center;
}
.tittle h4{
    color: rgb(0, 102, 255);
    margin-top: 10% !important;
    font-size: larger;
    
}
.logo{
    width: 60%;
    margin: 20% 20% 20% 20%;
}