<ion-header >
  <ion-toolbar color="primary">
    <ion-button routerLink="/inicio" color="warning">Volver
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" color="light">
<div class="tittle">
    <h4>Iniciar Sesion</h4>
    <p>Docente</p>
</div>

<ion-input placeholder="Correo Docente" class="primary-input"></ion-input>
<ion-input placeholder="Contraseña" type="Password" class="primary-input"></ion-input>

<div clas="ion-margin-top ion-text-right forget">
  <a>Olvido Contraseña?</a>
</div>

<div class="ion-margin-top ion-text-center">
  <ion-button expand="block" routerLink="/estudiante" color="secondary">Iniciar Sesion</ion-button>
</div>

<div class="ion-margin-top ion-text-center">
  <ion-button  expand="block" routerLink="/rescontra" color="secondary">Restablecer Contraseña</ion-button>
</div>

</ion-content>